.view-employees-page {
  padding: 25px;
}

.filters {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.filters input,
.filters select {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.employee-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

.employee-table th,
.employee-table td {
  padding: 12px;
  border-bottom: 1px solid #eee;
  text-align: left;
}

.employee-table th {
  background: #f4f6f8;
}

.status {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  text-transform: capitalize;
}

.status.active {
  background: #e8f5e9;
  color: #2e7d32;
}

.status.inactive {
  background: #ffebee;
  color: #c62828;
}



.icon {
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

/* Colors */
.icon.view {
  color: #2196f3;
}

.icon.edit {
  color: #ff9800;
}

.icon.deactivate {
  color: #f44336;
}

/* Hover effect */
.icon:hover {
  transform: scale(1.2);
  opacity: 0.85;
}
.employee-name {
  color: #1976d2;
  cursor: pointer;
  font-weight: 500;
}

.employee-name:hover {
  text-decoration: underline;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
}

.pagination button {
  padding: 6px 12px;
  border: none;
  background: #2196f3;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.pagination button:disabled {
  background: #ccc;
  cursor: not-allowed;
}
